* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --hover_side_background: #c5dcf4;
  --blue: #1890ff;
  --orange: #faad14;
  --green: #9aedee;
  --backgroundBody_color: #fafafb;
  --backgroundwhite: #ffffff;
  --lightfontcolor: #d4d4d6;
  --darkfontColor: #9a8c9a;
}

.body_container {
  background: var(--backgroundBody_color);
  display: flex;
  align-items: stretch;
}

/* side bar */

aside {
  border-right: 1px solid #d4d4d6;
  background: var(--backgroundwhite);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: display 1.5s ease-in-out !important;
  flex: 1;
  position: relative;

}

.sidebar_sticky{
  position: sticky;
  position: -webkit-sticky; /* Safari */
  overflow-x: hidden;
  overflow-y: auto; 
  top: 0;
} 

.aside-toggle {
  border-right: 1px solid #d4d4d6;
  background: var(--backgroundwhite);
  display: flex;
  flex: 1.1;
  flex-direction: column;
}

.logo {
  padding-top: 1rem;
}

.sidebar_heading {
  color: var(--lightfontcolor);
}

.fa-solid,
.fa-regular {
  margin-right: 0.9rem;
}

aside .sidebar_btn {
  padding: 0 0.5rem 0 0.5rem;
}

aside .sidebar_btn:hover {
  background-color: var(--hover_side_background);
  cursor: pointer;
  transition: background-color 0.1s ease-in 0.5s;
}

/* end aside */

.main {
  flex: 6;
}

.stick_header{
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top:0;
  /* bottom:0; */
}

.search_region {
  background-color: var(--backgroundwhite);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.icon {
  background: var(--backgroundBody_color);
  padding: 0.5rem;
  cursor: pointer;
}

.search {
  border: 1px solid gray;
  border-radius: 0.4rem;
  outline: none;
  padding: 0.3rem 0rem 0.3rem 0.3rem;
}

#search-input-toggle-btn {
  display: none;
}

.heading {
  padding: 1rem 0 1rem 1rem;
  font-weight: bold;
}

/* cards */

.cards-container {
  padding: 0rem 1rem 1rem 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0 1rem 1rem;
  border: 0.1rem solid gray;
  border-radius: 0.4rem;
  background: var(--backgroundwhite);
  flex: 1 0;
}

.cards > h6 {
  color: #9dacba;
  font-size: 0.8rem;
}

.card_price {
  display: flex;
  gap: 1rem;
  font-weight: bold;
}

.card_price-percent:nth-child(4) {
  background: #faba6f;
}

.card_price-percent {
  font-weight: normal;
  background: #1890ff;
  padding: 0.2rem 0.2rem 0.2rem 1rem;
  border-radius: 0.3rem;
}

.cards > p > span {
  color: #7dbdff;
}
.cards > p {
  margin-top: 1rem;
}

/* first chart */

.chartOne-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0rem 1rem 1rem 1rem;
  margin-top: 2rem;
}

.waveChart {
  flex: 2 1 0;
  /*   border: 1px solid red; */
  padding: 0.5rem;
  margin-bottom: 2rem;
}

#waveChart {
  max-width: 100%;
  object-fit: contain;
  border: 0.3px solid #d4d4d6;
  margin-top: 0.5rem;
}

.btn-days {
  display: flex;
  justify-content: space-between;
}

.btn-days button:nth-child(1) {
  outline: none;
  border: none;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.btn-days button:nth-child(2) {
  outline: none;
  border: 1px solid #1890ff;
  border-radius: 0.4rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.barChart {
  flex: 1 1 0;
}

#barChart {
  object-fit: contain;
  height: 100%;
  max-width: 100%;
  border: 0.3px solid #d4d4d6;
}
/* first chart ends*/

/* table section */
.table_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  padding: 0rem 1rem 1rem 1rem;
  margin-top: 2rem;
}

.table {
  flex: 2 1 0;
  border: 1px solid var(--backgroundBody_color);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 60%;
}

.Analytics-Report {
  flex: 1 1 0;
  border: 0.3px solid #d4d4d6;
  border-radius: 0.5rem;
  width: 40%;
}

.Analytics-Report > h6 {
  padding: 0.5rem;
}

.analytic_content {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #d4d4d6;
  cursor: pointer;
}

.analytic_content:hover {
  background-color: #f5f5f5;
}

.analytic_wrapper {
  display: flex;
  flex-direction: column;
}

.analytic_content > h6 {
  font-size: 0.8rem;
}

.polarArea {
  padding-top: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4f5659;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer > p {
  font-family: "Satisfy", cursive;
  font-size: 1rem;
  color: #ffffff;
}

.social-handles {
  display: flex;
  gap: 1rem;
}

.social-handles .fa-brands {
  color: #ffffff;
}

.social-handles span {
  background-color: #393e42;
  padding: 0.3rem;
  text-align: center;
  width: 2rem;
  border-radius: 50%;
}

/* small screen search input */

.small-screen-search-form {
  display: flex;
  padding: 0.5rem;
  background-color: var(--backgroundwhite);
  box-shadow: 10px 0px 4px 0px #888888;
  transition: display 1.5s linear;
}

.visibility {
  display: none;
}

.togglesearch {
  border: 1px solid gray;
  border-radius: 0.4rem;
  outline: none;
  padding: 0.3rem 0rem 0.3rem 0.3rem;
}

.small-screen-search-form > .togglesearch {
  flex: 1;
}

.toggle {
  display: none;
  transition: display 1s linear;
}
#sidebar-toggle-btn {
  display: none;
}

/* responsiveness on small screen */


@media only screen and (max-width: 1024){
  aside{
    padding: 1.5rem;
  
  }
}

@media only screen and (max-width: 768px) {
  #search-input-toggle-btn {
    display: inline;
  }

  .search,
  .head-fa-user-tie {
    display: none;
  }

  /* first chart */

  .chartOne-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1440px) {
  aside {
    display: none;
  }
  #sidebar-toggle-btn {
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  .visibility {
    display: flex;
  }

  .toggle {
    display: none;
    transition: display 1s linear;
  }

  .user > .fa-solid {
    margin-left: 0.3rem;
  }
}

@media only screen and (max-width: 320px) {
  .togglesearch {
    width: 1.3rem;
  }
  .cards {
    margin: 0.5rem;
  }
  .cards .card_price-percent {
    margin-left: 0.5rem;
  }
}